.nav-cookie-disclaimer__text {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.nav-cookie-disclaimer {
    background: #333;
    border-radius: 6px 6px 0 0;
    bottom: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    left: 0;
    padding: 18px;
    position: fixed;
    width: 100%;
    width: fill-available;
    z-index: 120
}

.nav-cookie-disclaimer__text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    margin: 0 0 32px
}

.nav-cookie-disclaimer__link {
    color: #fff;
    text-decoration: underline;
    white-space: nowrap
}

.nav-cookie-disclaimer__button {
    background-color: #3483fa;
    border-radius: 6px;
    border: 1px solid #3483fa;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    padding: 6px 12px;
    text-transform: none;
    width: 100%
}

.nav-cookie-disclaimer__button:focus {
    box-shadow: 0 0 0 0.1875em rgba(30, 109, 255, 0.4);
    outline: 0;
    transition: box-shadow .25s ease-in
}

.nav-cookie-disclaimer__button:hover {
    background-color: #1e6dff;
    border-color: transparent;
    color: #fff;
    transition: background-color .2s ease-in
}

.nav-cookie-disclaimer__button:active {
    background-color: #105cf4;
    border-color: transparent;
    color: #fff
}

body {
    font-family: 'Proxima Nova', sans-serif !important;
    margin: 0
}

.header-wrapper {
    width: 100%;
    position: absolute;
    user-select: none
}

.header-wrapper--fixed {
    position: fixed;
    z-index: 1000
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content,
.header-wrapper--fixed+main>.nav-main-content,
.header-wrapper--fixed+main>.home {
    padding-top: 56px
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency,
.header-wrapper--fixed+main>.nav-main-content.home--with-transparency,
.header-wrapper--fixed+main>.home.home--with-transparency {
    padding-top: 0
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.nav-main-content.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.home.home--with-transparency.home--padding-top-content {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search,
.header-wrapper--fixed+main>.ui-search--zrp,
.header-wrapper--fixed+main>.ui-pdp-not-found,
.header-wrapper--fixed+main>.ui-pdp--error,
.header-wrapper--fixed+main>.ui-vip-core {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search.home--with-transparency,
.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
    padding-top: 0
}

.header-wrapper--fixed+main>.ui-search.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency.home--padding-top-content {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-search--zrp .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-pdp-not-found .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-pdp--error .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-vip-core .ui-pdp-gallery__zoom-container {
    z-index: 900
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content,
.header-wrapper--with-flash.header-wrapper--fixed+main>.home {
    padding-top: 86px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.home.home--with-transparency {
    padding-top: 30px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core {
    padding-top: 86px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
    padding-top: 30px
}

.header-wrapper--with-flash.header-wrapper--fixed .ui-pdp-gallery__zoom-container {
    z-index: 900
}

.header--editable {
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%
}

.header--editable.header--editable--with-flash {
    height: 86px
}

.flash-component {
    align-items: center;
    background-color: #333;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 30px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100
}

.flash-component a {
    color: #ffffff;
    text-decoration: none
}

.flash-component a:focus,
.flash-component a:link,
.flash-component a:hover,
.flash-component a:visited {
    color: #ffffff;
    text-decoration: none
}

.flash-component__text {
    display: inline;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0
}

.flash-component__text p {
    display: inline
}

.flash-component__subtext {
    cursor: pointer
}

.flash-component {
    line-height: 1.25;
    padding: 8px 10px
}

.flash-component__text {
    font-size: 12px
}

@media (max-width: 346px) {
    .flash-component__text {
        font-size: 10px
    }
}

.nav-fashion-header {
    background-color: #ddd1c9;
    border: none;
    height: 56px !important;
    position: relative;
    user-select: none
}

.nav-header--scrolled .nav-fashion-header {
    height: 56px !important
}

.nav-header--scrolled .nav-fashion-header .nav-fashion-vertical-list {
    top: 56px !important;
    transition: 0.2s
}

.nav-fashion-header__bounds {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 24px;
    position: relative
}

.nav-fashion-header__bounds .nav-fashion-header__title {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 167px
}

.nav-fashion-header__bounds .nav-fashion-header__logo {
    align-items: center;
    display: flex;
    height: 48px;
    position: relative
}

.nav-fashion-header__bounds .nav-fashion-list {
    display: flex;
    max-width: none;
    padding: 0;
    width: 100%
}

.nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item {
    display: none
}

.nav-fashion-header__bounds .nav-fashion-list .nav-fashion__hamburger-button {
    align-items: center;
    display: flex
}

.nav-fashion-header__bounds .nav-fashion-list .nav-fashion__hamburger-button span {
    color: white;
}

.nav-fashion-header__bounds .nav-fashion__sale-link-alternative {
    display: none
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons {
    max-width: 324px;
    width: 100%
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons .nav-icons-group {
    align-items: center;
    display: flex;
    float: right;
    height: 100%
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons .nav-search-form,
.nav-fashion-header__bounds .nav-fashion-header__nav-icons .contact-button {
    display: none;
    line-height: normal
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons svg {
    fill: white;
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons svg path {
    fill: white;
}

.nav-logo-float-left .nav-fashion-header__bounds {
    flex-direction: row;
    justify-content: right
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
    order: 3;
    width: auto
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__nav-icons {
    margin-right: 24px;
    width: auto
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
    margin-right: auto
}

.nav-fashion__sale-link a {
    font-weight: 600 !important;
    text-transform: uppercase
}

.nav-fashion-menu {
    background-color: #000;
    box-sizing: border-box;
    height: 100vh;
    left: -95vw;
    max-width: 480px;
    min-width: 320px;
    opacity: 0;
    padding: 32px;
    position: absolute;
    top: 56px;
    visibility: hidden;
    width: 85vw
}

.nav-fashion-menu a {
    color: black !important;
    text-decoration: none
}

.nav-fashion-menu .sidebar-menu-list {
    height: 80%;
    overflow-y: scroll;
    padding: 0
}

.nav-fashion-menu .sidebar-menu-list .how-buy-button__desktop {
    position: relative;
    top: 12px;
    padding: 18px 0
}

.nav-fashion-menu .sidebar-menu-list::-webkit-scrollbar {
    display: none
}

.nav-fashion-menu .responsive-menu-list {
    height: 80%;
    margin-top: 32px;
    overflow-y: scroll;
    padding: 0
}

.nav-fashion-menu .responsive-menu-list::-webkit-scrollbar {
    display: none
}

.nav-fashion-menu .nav-fashion-list--vertical__item {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0
}

.nav-fashion-menu .nav-fashion-list--vertical__item a {
    margin-right: 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__item a:hover {
    opacity: 0.7
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem-container,
.nav-fashion-menu .nav-fashion-list--vertical__attr-container {
    display: none
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0 16px 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem a {
    margin-right: 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem a:hover {
    opacity: 0.7
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0 16px 32px
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute a {
    color: #fff;
    opacity: 0.5
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute a:hover {
    opacity: 0.3
}

.nav-fashion-menu input[type=text] {
    color: rgba(255, 255, 255, 0.5);
    height: 24px;
    padding: 0 !important;
    position: relative;
    width: 100%
}

.nav-fashion-menu input[type=text]:focus {
    border: none !important;
    outline: 0;
    padding: 0 !important
}

.nav-fashion-menu .nav-fashion-list--vertical__hr {
    background: none;
    border-style: inset !important;
    border-width: 1px;
    color: white !important;
    opacity: 0.1;
}

.nav-fashion-menu .nav-fashion-search-form {
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px
}

.nav-fashion-menu .nav-fashion-search-form button,
.nav-fashion-menu .nav-fashion-search-form input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding-right: 16px
}

.nav-fashion-menu .nav-fashion-search-form button svg,
.nav-fashion-menu .nav-fashion-search-form input svg {
    fill: white;
}

.nav-fashion-menu .nav-fashion-search-form button svg path,
.nav-fashion-menu .nav-fashion-search-form input svg path {
    fill: white;
}

.nav-fashion-menu .nav-fashion-search-form button:focus {
    outline: 0
}

.nav-fashion-sidebar-menu {
    display: none
}

.nav-fashion-responsive-menu {
    display: block
}

#mobile-categories-menu-switch {
    display: none
}

@media screen and (max-width: 768px) {
    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(1) {
        transform: translate3d(0px, 13px, 0) rotate(45deg)
    }

    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(2) {
        transform: translate3d(0px, 13px, 0) rotate(135deg)
    }

    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(3) {
        transform: translate3d(0px, 13px, 0) rotate(-45deg)
    }
}

#hamburguer-menu {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px
}

#hamburguer-menu span {
    background-color: black !important;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    top: -2px;
    transition: transform 0.2s ease;
    width: 100%
}

#hamburguer-menu span:nth-child(1) {
    transform: translate3d(0px, 6px, 0)
}

#hamburguer-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0)
}

#hamburguer-menu span:nth-child(3) {
    transform: translate3d(0px, 20px, 0)
}

input[data-js=categories-toggle],
input[data-js=attributes-toggle] {
    display: none
}

input[data-js=categories-toggle]:checked+.toggle-menu span:nth-child(1),
input[data-js=attributes-toggle]:checked+.toggle-menu span:nth-child(1) {
    transform: translate3d(0px, 13px, 0)
}

input[data-js=categories-toggle]:checked+.toggle-menu span:nth-child(2),
input[data-js=attributes-toggle]:checked+.toggle-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0)
}

.toggle-menu {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 16px;
    transform: rotateX(180deg)
}

.toggle-menu span {
    background-color: black !important;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: transform 0.2s ease;
    width: 100%
}

.toggle-menu span:nth-child(1) {
    transform: translate3d(0px, 13px, 0) rotate(0deg)
}

.toggle-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0) rotate(90deg)
}

@media screen and (max-width: 768px) {
    #popover-menu {
        display: none !important
    }
}

.body--block-scroll {
    overflow: hidden
}

.how-buy-button__desktop a {
    display: none
}

.nav-bounds--contact {
    display: block;
    text-align: center
}

.fashion-nav-footer .nav-bounds {
    border-color: #fff;
    border-top: 1px solid;
    max-width: 100%;
    padding: 0 24px
}

.fashion-nav-footer-contact__content {
    background-color: #000;
    color: white;
    padding: 0
}

.fashion-nav-footer-contact__content a {
    color: white
}

.nav-footer {
    background-color: #000
}

.fashion-nav-footer__contact {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 24px;
    text-align: center;
    width: 100%
}

.fashion-nav-footer__contact a {
    font-size: 12px;
    line-height: 1.67;
    text-decoration: none
}

.fashion-nav-footer__categories-col {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    padding: 24px;
    width: 100%
}

.fashion-nav-footer__categories-col .fashion-nav-footer__category:nth-child(n+7) {
    display: none
}

.fashion-nav-footer__categories-col .fashion-nav-footer__category a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none
}

.fashion-nav-footer__pages {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    padding: 24px;
    width: 100%
}

.fashion-nav-footer__pages .fashion-nav-footer__page a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    opacity: 0.5
}

.fashion-nav-footer__pages .fashion-nav-footer__page a:hover {
    opacity: 1
}

.fashion-nav-footer__brand-col {
    box-sizing: border-box;
    padding: 24px 24px x 0 24px;
    width: 100%
}

.fashion-nav-footer__brand-col .fashion-nav-footer__logo-caption {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px
}

.fashion-nav-footer__social-media,
.fashion-nav-footer__social-media--responsive {
    text-align: center
}

.fashion-nav-footer__social-media a,
.fashion-nav-footer__social-media--responsive a {
    margin: 0 10px;
    text-decoration: none
}

.fashion-nav-footer__social-media {
    display: none
}

.fashion-nav-footer__social-media--responsive {
    padding: 32px 0
}

.nav-footer-disclaimer {
    padding: 12px 0
}

.nav-footer-about {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left
}

.nav-footer-about p,
.nav-footer-about a {
    line-height: 24px
}

.nav-footer-about p {
    margin: 0 !important;
    order: 1
}

@media screen and (min-width: 768px) {
    .nav-cookie-disclaimer {
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center
    }

    .nav-cookie-disclaimer__text {
        font-size: 16px;
        margin: 0 16px 0 0
    }

    .nav-cookie-disclaimer__button {
        width: initial
    }

    .header-wrapper--fixed+main>.nav-main-content,
    .header-wrapper--fixed+main>.home {
        padding-top: 90px
    }

    .header-wrapper--fixed+main>.ui-search,
    .header-wrapper--fixed+main>.ui-search--zrp,
    .header-wrapper--fixed+main>.ui-pdp-not-found,
    .header-wrapper--fixed+main>.ui-pdp--error,
    .header-wrapper--fixed+main>.ui-vip-core {
        padding-top: 138px
    }

    .header-wrapper--fixed+main>.ui-search.home--with-transparency,
    .header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
    .header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
    .header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
    .header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
        padding-top: 0
    }

    .header-wrapper--fixed+main>.ui-search.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-vip-core.home--with-transparency.home--padding-top-content {
        padding-top: 138px
    }

    .header-wrapper--fixed+main>.ui-search .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-search--zrp .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-pdp-not-found .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-pdp--error .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-vip-core .ui-pdp-gallery__zoom-container {
        z-index: 900
    }

    div.header-wrapper--fixed[data-ms-theme="fashion"]+main>.ui-search,
    div.header-wrapper--fixed[data-ms-theme="fashion"]+main>.ui-search--zrp {
        padding-top: 120px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.home {
        padding-top: 120px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core {
        padding-top: 168px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
        padding-top: 30px
    }

    .header-wrapper--with-flash.header-wrapper--fixed .ui-pdp-gallery__zoom-container {
        z-index: 900
    }

    .header-wrapper--fixed+main>.nav-main-content .short-description--fixed .short-description__floating.non-fixed {
        top: 90px !important
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content .short-description--fixed .short-description__floating.non-fixed {
        top: 120px !important
    }

    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content {
        padding-top: 90px
    }

    .header--editable {
        height: 90px
    }

    .header--editable.header--editable--with-flash {
        height: 120px
    }

    .flash-component {
        box-sizing: border-box;
        height: 30px;
        padding: 8px
    }

    .flash-component__text {
        font-size: 14px
    }

    .flash-component__subtext {
        font-size: 12px;
        font-weight: 300;
        margin: 0
    }

    .flash-component__link {
        font-size: 12px;
        margin-left: 16px
    }

    .nav-fashion-header {
        height: 90px !important;
        transition: .3s ease
    }

    .nav-fashion-header__bounds {
        max-width: 1200px;
        width: calc(100% - 182px)
    }

    .nav-fashion-header__bounds .nav-fashion-list {
        max-width: none;
        margin: 0
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        /* opacity: 0;
        visibility: hidden */
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item a {
        align-items: center;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: normal;
        height: 100%;
        letter-spacing: 1px;
        margin: 0 12px;
        text-decoration: none
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item a:hover {
        opacity: 0.7
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item svg {
        margin-top: 6px
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion__see-more--activated {
        display: block !important
    }

    .nav-fashion-header__bounds input[type=text] {
        color: rgba(255, 255, 255, 0.5);
        height: 24px;
        padding: 0 !important;
        position: relative;
        width: 100%
    }

    .nav-fashion-header__bounds input[type=text]:focus {
        border: none !important;
        outline: 0;
        padding: 0 !important
    }

    .nav-fashion-header__nav-icons .contact-button,
    .nav-fashion-header__nav-icons .cart-button {
        display: flex !important;
        margin-left: 24px
    }

    .nav-fashion-header__nav-icons .nav-search-form {
        border-bottom: 1px solid;
        border-color: transparent !important;
        display: flex !important;
        justify-content: space-between;
        transition: .2s
    }

    .nav-fashion-header__nav-icons .nav-search-form .search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        position: relative
    }

    .nav-fashion-header__nav-icons .nav-search-form input {
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        color: white;
        font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 14px;
        opacity: 0;
        transition: .3s;
        visibility: hidden;
        width: 100%
    }

    .nav-fashion-header__nav-icons .nav-search-form input:focus,
    .nav-fashion-header__nav-icons .nav-search-form .search-button {
        outline: 0
    }

    .nav-fashion-header__title {
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 205px !important;
        position: absolute;
        right: 0;
        top: 0
    }

    .nav-fashion-list__item {
        display: flex !important
    }

    .nav-fashion__hamburger-button {
        display: none !important
    }

    .with-hamburguer-menu .nav-fashion-list__item {
        display: none !important
    }

    .with-hamburguer-menu .nav-fashion__hamburger-button,
    .with-hamburguer-menu .nav-fashion__sale-link {
        display: flex !important;
        align-items: center
    }

    .nav-fashion-sidebar-menu {
        display: block
    }

    .nav-logo-float-left .nav-fashion-header__bounds {
        flex-direction: row;
        justify-content: left
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__logo {
        height: 48px
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
        justify-content: left;
        margin: 0 !important;
        order: -2;
        position: static
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__nav-icons {
        margin-left: auto;
        width: auto
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
        order: -1;
        margin-left: 47px;
        max-width: 700px
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list__item {
        white-space: nowrap !important
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion__hamburger-button {
        display: none !important
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion__see-more a {
        font-size: 14px
    }

    .nav-logo-float-left .nav-fashion-header__nav-icons {
        width: 324px !important
    }

    .nav-logo-float-left .nav-fashion-sidebar-menu {
        display: none
    }

    .with-hamburguer-menu.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
        margin: 0 16px 0 32px;
        order: -1 !important
    }

    .with-hamburguer-menu.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
        margin-left: 0
    }

    .nav-search-form {
        width: 100% !important;
        max-width: 274px !important
    }

    .nav-header__banner {
        padding: 0
    }

    #nav-vertical-list {
        background-color: #000;
        left: -350px;
        max-height: 100vh;
        opacity: 0;
        overflow-y: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition-timing-function: ease-out;
        transition: 0.2s;
        visibility: hidden;
        width: 350px;
        z-index: 2
    }

    #nav-vertical-list::-webkit-scrollbar {
        display: none
    }

    #nav-vertical-list .nav-fashion-list__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        display: block !important
    }

    #nav-vertical-list .nav-fashion-list__item a {
        display: block;
        box-sizing: border-box;
        color: white;
        font-size: 18px;
        line-height: 1.20;
        padding: 25px 30px;
        text-decoration: none
    }

    #nav-vertical-list .nav-fashion-list__item:hover {
        background: rgba(255, 255, 255, 0.2) !important;
        border-color: transparent
    }

    .nav-fashion-responsive-menu {
        display: none
    }

    .body--block-scroll {
        overflow: visible
    }

    .close-sidebar-button input {
        display: none
    }

    .close-sidebar-button label {
        cursor: pointer;
        display: inline-block;
        height: 24px;
        margin-bottom: 48px;
        position: relative;
        width: 24px
    }

    .close-sidebar-button label span {
        background-color: black !important;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: transform 0.2s ease;
        width: 100%
    }

    .close-sidebar-button label span:nth-child(1) {
        transform: translate3d(0, 13px, 0) rotate(45deg)
    }

    .close-sidebar-button label span:nth-child(2) {
        transform: translate3d(0, 13px, 0) rotate(135deg)
    }

    #popover-menu {
        background-color: #fff;
        display: none;
        list-style-type: none;
        max-height: 70vh;
        opacity: 0.95;
        overflow-y: auto
    }

    #popover-menu .nav-fashion-list--vertical__hr {
        background: none;
        border-style: inset !important;
        border-width: 1px;
        opacity: 0.3
    }

    .nav-fashion-desktop-categories-popover.nav-bounds,
    .nav-fashion-desktop-see-more-popover.nav-bounds {
        max-width: 1200px;
        width: calc(100% - 182px)
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__item {
        display: none;
        flex-wrap: wrap;
        justify-content: start
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__category {
        display: none;
        flex-wrap: wrap;
        justify-content: start
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem {
        box-sizing: content-box;
        padding: 32px 64px 32px 0;
        width: 160px
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute {
        padding-top: 12px
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute a {
        color: #000;
        font-weight: normal;
        text-decoration: none
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__item {
        box-sizing: content-box;
        padding: 32px 64px 32px 0;
        width: 160px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__category a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__category a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem {
        padding-top: 16px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute {
        padding-top: 12px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute a {
        color: #000;
        font-weight: normal;
        text-decoration: none;
        opacity: 0.5
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute a:hover {
        opacity: 0.3
    }

    .fashion-nav-footer-contact__content {
        padding: 50px
    }

    .nav-bounds--contact {
        display: flex;
        justify-content: space-between;
        text-align: left
    }

    .fashion-nav-footer__brand-col {
        padding: 0;
        width: 248px
    }

    .fashion-nav-footer__categories-col {
        align-content: flex-start;
        border: none;
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        height: 156px;
        max-width: 384px;
        padding: 0
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category {
        display: block !important;
        margin-right: 48px;
        max-width: 168px
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category:not(:last-child) {
        margin-bottom: 16px
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category:nth-child(n+9) {
        display: none !important
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category a {
        font-weight: normal;
        line-height: 18px;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .fashion-nav-footer__pages {
        border: none;
        height: auto;
        max-width: 166px;
        padding: 0
    }

    .fashion-nav-footer__pages .fashion-nav-footer__page {
        display: block !important;
        margin-right: 48px
    }

    .fashion-nav-footer__pages .fashion-nav-footer__page a {
        font-weight: normal;
        line-height: 18px
    }

    .fashion-nav-footer__contact-col {
        border: none;
        padding: 0;
        width: 300px
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__social-media {
        display: block;
        text-align: right
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__social-media a {
        margin: 0 0 0 16px
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__contact {
        border: none;
        list-style: none;
        margin-top: 40px;
        padding: 0;
        text-align: right
    }

    .fashion-nav-footer__social-media--responsive {
        display: none
    }

    .fashion-nav-footer .nav-bounds {
        max-width: 1200px;
        padding: 0
    }

    .nav-footer-disclaimer {
        padding: 0
    }

    .nav-footer-about {
        display: block;
        text-align: left
    }

    .nav-footer-about p,
    .nav-footer-about a {
        display: inline-block;
        font-size: 12px;
        line-height: normal
    }

    .nav-footer-about a {
        margin-right: 12px;
        position: relative
    }

    .nav-footer-about a:hover {
        text-decoration: none
    }

    .nav-footer-about a:not(:first-child) {
        margin-left: 12px
    }

    .nav-footer-about a:first-child {
        padding-right: 64px
    }
}

.d-none {
    display: none !important
}

.how-buy__button a {
    opacity: 0.5
}

.nav-footer-fiscal-data {
    font-size: 10px;
    justify-content: left;
    margin-top: 8px;
    opacity: 0.8;
    text-align: left
}

/*CUSTOM CSS*/

/*GENERALES*/

.header--custom-svg {
    fill: black !important;
}

.header--custom-background {
    background-color: #ddd1c9;
}

.header--custom-secondary-background {
    background-color: #c9b6aa !important;
}

.footer--custom-background {
    background-color: #edebe9;
}

.footer--custom-background-alt {
    background-color: #d5d1ce;
}

.header--custom-text {
    color: black !important;
    text-transform: uppercase;
}

.header--custom-text-alt {
    text-transform: uppercase;
}

/*HEADER*/

.barra-navegacion {
    background-color: #ddd1c9;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.barra-navegacion a {
    text-decoration: none;
}

.barra-navegacion a:hover {
    transition: ease .3s;
    font-size: 15px;
}

.fondo-rosa {
    background-color: #c9b6aa !important;
}

/*FOOTER*/

.newsletter {
    background: rgb(201, 182, 170);
    background: linear-gradient(337deg, rgba(201, 182, 170, 1) 0%, rgba(221, 209, 201, 1) 50%, rgba(201, 182, 170, 1) 100%);
    padding-top: 40px;
    padding-bottom: 40px;
}

.newsletterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3 {
    font-size: 25px;
    color: #fff;
    text-shadow: #000 2px 2px 10px;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

@media (min-width: 768px) {
    .newsletter h3 {
        font-size: 50px;
        margin-bottom: 30px;
        color: #fff;
        text-shadow: #000 2px 2px 10px;
        text-align: center;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formInput input {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

@media (min-width: 768px) {
    .formInput input {
        border: none;
        border-radius: 5px;
        height: 30px;
        width: 600px;
    }
}

.formulario-enviar {
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-enviar input {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.formulario-enviar input:hover {
    transition: ease-in-out .3s;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.formulario i {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.boton:hover {
    color: black !important;
}

.pinterest i {
    color: black;
    font-size: 25px;
}

.pinterest i:hover {
    color: #E60023;
    transform: scale(1.2, 1.2);
    transition: ease-in-out .1s;
}

.instagram i {
    color: black;
    font-size: 26px;
}

.instagram i:hover {
    color: #C13584;
    transform: scale(1.2, 1.2);
    transition: ease-in-out .1s;
}

.facebook i {
    color: black;
    font-size: 25px;
}

.facebook i:hover {
    color: #4267B2;
    transform: scale(1.2, 1.2);
    transition: ease-in-out .1s;
}

.redes-sociales {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: flex-start !important;
}

.contenedor-redes-sociales p {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .contenedor-redes-sociales {
        display: none;
    }
}

.redes-sociales-movil {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .redes-sociales-movil {
        display: none;
    }
}

.categorias {
display: flex;
align-items: center;
justify-content: start;
}

@media (max-width: 768px) {
    .categorias {
        justify-content: center !important;
        }
}

.categorias p {
    margin-bottom: 10px;
}

.contactanos p {
    margin-bottom: 10px;
}

.medios-de-pago {
    margin-top: 60px !important;
}

.medios-de-pago p {
    margin-bottom: 10px;
}

.contenedor-video {
    background-image: url(https://iili.io/R1bqLg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 768px) {
    .contenedor-video {
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenedor-video .background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px auto;
}

@media (min-width: 768px) {
    .contenedor-video .background {
        height: 300px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.info-video {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: #000 2px 2px 10px;
}

@media (min-width: 768px) {
    .info-video {
        font-size: 30px;
    }
}

.video {
    margin: 20px auto
}

@media (max-width: 1024px) {
    .video iframe {
        width: 100%;
        height: 100%;
    }
}

.categorias-texto:hover {
    color: #1e7278 !important;
}

.logo-footer:hover {
    transition: ease .3s;
    transform: scale(1.1);
}

.down {
    color: white;
    transform: rotate(90deg);
    transition: all .3s;
}

.down:hover {
    cursor: pointer;
}

.submenuSinteticos,
.submenuTelas,
.submenuForrerias,
.submenuRefuerzos,
.submenuAccesorios,
.submenuMayor,
.submenuServicios {
    display: none;
}

.submenuSinteticos_mobile,
.submenuTelas_mobile,
.submenuForrerias_mobile,
.submenuRefuerzos_mobile,
.submenuAccesorios_mobile,
.submenuServicios_mobile, 
.submenuMayor_mobile {
    display: none;
}

.visible {
    display: block;
}

.no-visible {
    display: none;
}

.transparent {
    background-color: rgba(221, 209, 201, 0.3) !important;
}

.rotacion {
    transform: rotate(0deg);
}

.categorias-titulo {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 15px!important;
}

.padding-top {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .padding-top {
        padding-top: 5.5rem;
    }
}

.padding-top-publicacion {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .padding-top-publicacion {
        padding-top: 3rem;
    }
}

#popupIframe, #chatIframe {float:left!important;right:auto!important;}
#wspIframe {float:right!important;left:auto!important; right: 0px !important;}


.contenedor-nav * {
    padding: 0;
    margin: 0;
}

.contenedor-nav {
    background-color: #ddd1c9;
    border-top: 1px solid white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li:first-of-type {
    margin-left: 20px;
}

.navbar li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.navbar li a {
    background-color: #ddd1c9;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: rgb(170, 170, 170);
    background-color: #a08c80;
    transition: .2s ease-in-out;
}

.navbar li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar>li {
    float: left;
}

.navbar>ul {
    background: black !important;
}

.navbar li:hover>ul {
    display: block;
}

@media (min-width: 768px) {
    .contenedor-nav {
        display: visible;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.contenedor-nav ul li ul li i {
    margin-right: 10px;
}

.fa-angle-down {
    color: black !important;
}